/* CSE 110 Lab 3 Jiayan Dong CSS */

body{
    background-color: Gainsboro;
}

h1{
    color : rgb(57, 197, 187);
    font-size: 0.8in;
    border: 2px solid tan;
    line-height: 3cm;
    margin: 5%, 5%, 5%, 5%;
    padding: 4%, 4%, 4%, 4%;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

h2{
    color : rgba(255, 165, 0, 0.9);
    font-size: 6ex;
    border: 0.02em solid tan;
    line-height: 5vw;
    margin: auto;
    text-align: center;
    position: relative;
    bottom: 10px; left: 40px;
}

h3{
    color : darkblue;
    margin: auto;
    text-align: left;
    position: static;
}

p{
    color : #000000;
}

strong {
    color : red;
    text-decoration: blue wavy underline;
}

em{
    color: #090;
}

header{
    color: hsla(250, 27%, 20%, 0.8);
}

footer{
    color: 	hsl(250, 27%, 20%);
}

p.pone {
    margin-top: 6%;
    margin-bottom: 6%;
    margin-left: 6%;
    margin-right: 6%;

    padding-top: 4%;
    padding-bottom: 4%;
    padding-right: 4%;
    padding-left: 4%;

    border-style: solid;
    border-color: tan;
    border-width: 1px;
    border-radius: 20px;

    position: relative;
    top: 40px; left: 40px;
}

span.a {
    display: inline;
    width: 200px;
    height: 80px;
    padding: 1px;
    border: 1px solid green;  
    background-color: pink;
}

span.b {
    display: inline-block;
    max-width: 1600px;
    min-width: 650px;
    padding: 1px;
    border: 1px solid green;  
    background-color: pink;
}

span.c {
    display: inline;
    width: 600px;
    height: 80px;
    padding: 1px;
    border: 1px solid green;  
    background-color: pink;
}

div.aud {
    position: absolute;
    left: 800px;
}


div.letter_flexbox {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse ;
    flex-grow: 5;
}

div.num_grid {
    display: grid;
    grid-template-rows: 25px;
    grid-column-gap: 5px;
    grid-row-gap: 6px;
    grid-template-rows: 20px;
}

button:hover {
    color: red;
}

a:active {
    background-color: purple;
}